@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2,
h3,
h4,
h5,
small,
p,
i,
li,
ul,
button,
input {
  font-family: "Montserrat", serif;
}

.text-white {
  color: white;
}

.hero-text {
  font-weight: 600;
}

.hero-place {
  background-image: url("./Asset/stocks/hero.JPG");
  background-size: cover;
  background-attachment: fixed;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Adjust column width */
  gap: 10px; /* Space between items */
  padding: 16px;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: adds rounded corners */
  object-fit: cover;
}

a {
  color: white;
  text-decoration: none;
}

/* ABOUT SECTION */
.about-hero {
  text-align: center;
  width: 100%;
  background-image: url("./Asset/stocks/about-hero.jpg");
  height: 15em;
}
.shapeAbout1 {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.find_rooms{
  background-color: rgba(21, 40, 205, 0.693);
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
}
.find_rooms:hover{
  background-color: rgba(238, 163, 14, 0.693);
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: black;
}

@media (max-width: 768px) {
  .grid-item {
    width: calc(50% - 16px); /* 2 per row on tablets */
  }
}

@media (max-width: 480px) {
  .grid-item {
    width: 100%; /* 1 per row on small screens */
  }
}
